
<div class="footerfix" style="height: 200px;"></div>&nbsp;</body>
<footer>
         <div class="sponsors">
            Sponsored by:
            <div>
	       <span><img src="{{ site.baseurl }}/assets/logos/SSCo-Logo-Color-w_tag.png" alt="Spraying Systems Co."></span>
               <span><img src="{{ site.baseurl }}/assets/logos/logo-rev-leftside-cropped.png" alt="Gordon Hardware"></span>
               <span><img src="{{site.baseurl}}/assets/logos/big-etas-logo.jpg" alt="ETAS"></span>
               <span><img src="{{ site.baseurl}}/assets/logos/Altium_Limited_logo.svg.png" alt="Altium"></span>
               <span class="linebreakgroup">
               <span><img src="{{site.baseurl}}/assets/logos/samtec_logo.png" alt="Samtec"></span>
               <span><img src="{{site.baseurl}}/assets/logos/220px-Dassault_Systèmes_logo.svg.png" alt="Dassault Systemes"></span>
               <span><img src="{{site.baseurl}}/assets/logos/220px-TDK_logo.svg.png" alt="TDK"></span>
	       <span><img src="{{site.baseurl}}/assets/logos/masthead.png" alt="Mechatronics"></span>
               <span><img src="{{site.baseurl}}/assets/logos/Phidgets-Logo-White.png" alt="Phidgets"></span>
	       <span><img src="{{site.baseurl}}/assets/logos/sga_transparent.png" alt="SGA"></span>
            </div>
         </div>
         <div class="copyright">
            <span>&copy;</span> 2022 NIU Mars Rover
            <!-- Theme by Renée! -->
         </div>
      </footer>
