<header>
         <h1>{{ site.title }}</h1>
         <nav>
				<ul>
            	<li><a href="{{ site.baseurl }}/">Home</a></li>
{% for my_page in site.pages %}
          {% if my_page.title %}
					<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
{% endif %}
        {% endfor %}
		 <li class="dropdown"><a aria-expanded="false" arai-haspopup="true" data-toggle="dropdown" href="#" role="button">About<span class="caret"></span></a>
		 <ul class="dropdown-menu">
		 {% for sub_page in site.about %}
		 {% if sub_page.title %}
		 <li><a href="{{ sub_page.url | prepend: site.baseurl }}">{{ sub_page.title }}</a></li>
		 {% endif %}
		 {% endfor %}
		 </ul>
		 </li>
		 <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">Join Us<span class="caret"></span></a>
		 <ul class="dropdown-menu">
		 {% for sub_page in site.join %}
		 {% if sub_page.title %}
		 <li><a href="{{ sub_page.url | prepend: site.baseurl }}">{{ sub_page.title }}</a></li>
		 {% endif %}
		 {% endfor %}
		 </ul>
		 </li>
		 		</ul>
			</nav>
		</header>
