<header>
         <h1>{{ site.title }}</h1>
         <nav>
            <a href="{{ site.baseurl }}/">Home</a>
{% for my_page in site.pages %}
          {% if my_page.title %}
	<a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
{% endif %}
        {% endfor %}
		 {% for sub_page in site["about"] %}
		 {% if sub_page.title %}
		 <a href="{{ sub_page.url | prepend: site.baseurl }}">COLLECTIONPAGE :: {{ sub_page.title }}</a>
		 {% endif %}
		 {% endfor %}
         </nav>
      </header>
