/* Theme by Renee! */
* { box-sizing: border-box; }
body, html { padding: 0; margin: 0; font-family: sans-serif; min-height: 100vh; height: auto; position: relative; }
header { background: #c8102e; color: #fff; padding: 20px; }
header h1 { padding: 0px; margin: 0px; font-weight: normal; font-family: Georgia, serif; }
header nav { padding-top: 10px; }
header nav a { color: #fff; text-decoration: none; padding: 5px;}
header nav a:hover { background: #eee; color: #111; }
header nav ul { padding: 0px; margin: 0px; }
header nav li { display: inline-block; position: relative; }
header nav .dropdown-menu { display: none; position: absolute; padding: 5px; background: rgba(200, 16, 46, 0.8); box-shadow: 0 6px 12px rgba(0,0,0,.175); border: 1px solid rgba(0,0,0,.15); margin-top: 5px; width: 200px; z-index: 1000; }
header nav .open .dropdown-menu { display: block; }
header nav .dropdown-menu li a, header nav .dropdown-menu li { display: block; }
header nav .dropdown-menu li a:hover { background: rgba(143, 12, 43, 0.8); color: #fff; }
a { color: #000; text-decoration: underline; }
.primary-cta { background: #8f0c21; color: #fff; padding: 1px 20px; }
.primary-cta h1 { font-family: Georgia, serif; font-weight: normal; }
.primary-cta a { color: #fff; }
article section, .home-bloglist section { padding: 20px; }
article section:nth-child(even) { background: #eee; }
article header, .home-bloglist header { background: #ddd; color: #000; }
article { color: #111; position: relative; }
article header p { margin-bottom: 0px; margin-top: 15px; }
footer { position: absolute; width: 100%; bottom: 0; }
footer .sponsors { color: #fff; background: #444; padding: 10px 20px; text-align: center; }
footer .sponsors img { height: 50px; margin: 10px; }
footer .copyright { color: #eee; background: #111; padding: 10px; text-align: center; }
footer .linebreakgroup { display: inline-block; }
.post-list { padding: 0px; list-style-type: none; margin: 0px; }
.post-list li { border-bottom: 1px solid #eee; padding: 20px 0px; }
.post-list li:nth-child(1) { padding-top: 0px; }
.post-list li h2 { display: inline-block; font-size: 1.25em; margin: 0px; padding: 0px; }
.post-list li span { color: #555; font-style: italic; }
.post-list li p { padding: 0px; margin: 0px; display: inline; }
.post-readmore-link { font-style: italic; }
.post-content img {width: 75%; margin: auto; display: block; margin-bottom: 30px; }
.post-content button { background: #c8102e; color: white; padding: 10px; border: none; font-size: 1em; box-shadow: #8f0c21 3px 3px 0px; }
@media (max-width: 1024px) {
  footer .sponsors img {
    height: 30px;
  }
}
@media (max-width: 800px) {
  footer .sponsors img {
    height: 20px;
  }
}
@media (max-width: 500px) {
   footer .linebreakgroup { display: inline; }
   .post-content img { width: 100%; }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid 
transparent;
border-left: 6px solid
    transparent;
}

@media only screen and (min-width: 1024px) {
	header h1, *:not(section) > section > *:not(header), header p, header nav { width: 70%; margin-left: auto; margin-right: auto; }
}
